<div class="flash-main">
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
</div>



<body class= "text-center">
  <% if logged_in? %>
  <h1><%="Hi #{current_user.name}" %></h1>
  <h2>Welcome to Alcotrade</h2>
  <div class="brule">
      <img src="https://i.pinimg.com/originals/53/3b/12/533b12149ec3deaebb978dd782d05386.gif" alt="Steve Brule">
  </div>
  <% else %>
  <h1>Welcome to Alcotrade</h1>
  <div class="brule">
      <img src="https://i.pinimg.com/originals/53/3b/12/533b12149ec3deaebb978dd782d05386.gif" alt="Steve Brule">
  </div>
  <% end %>
  <h3 id = "blurb">Register and create a listing to start trading alcohol!</h3>
</body>
