
<body class= "text-center">
  <% if logged_in? %>
  <h1><%="Hi #{current_user.name}" %></h1>
  <h2>Welcome to Stuff4Beer</h2>
  <img src="https://i.pinimg.com/originals/53/3b/12/533b12149ec3deaebb978dd782d05386.gif" alt="Steve Brule">
  <% else %>
  <h1>Welcome to Stuff4Beer</h1>
  <img src="https://i.pinimg.com/originals/53/3b/12/533b12149ec3deaebb978dd782d05386.gif" alt="Steve Brule">
  <% end %>
</body>
