
  <h1>Categories</h1>
  <div class="category-index">
  <%@categories.each do |category| %>
    <div class="alcohol-type">
      <p><%=link_to category.name, category_path(category) %></p>
    </div>
    <% end %>
  </div>

  <div class="cheers-img">
    <%= link_to "https://www.youtube.com/watch?v=O35Dxb_V2Sc" do  %>
      <%= image_tag ("https://pbs.twimg.com/media/DtrbvsTWwAAdHgI.jpg") %>
      <% end %>
  </div>
