
  <h1>Categories</h1>
  <div class="category-index">
  <%@categories.each do |category| %>
    <div class="alcohol-type">
      <p><%=link_to category.name, category_path(category) %></p>
    </div>
    <% end %>
  </div>
